In [1]:
import pandas as pd
import sys 
sys.path.append('/home/alexabades/recsys')
from src.data.PreProcessData import PreProcessData

In [2]:
d = PreProcessData()

In [3]:
d.test()

/home/alexabades/recsys/src/notebooks
current_file_path: /home/alexabades/recsys/src/data/PreProcessData.py
/home/alexabades/recsys/src/data

In [11]:
datapath = "../data/raw/frappe/"

In [12]:
df = pd.read_csv(datapath + 'frappe.csv', sep="\t")
df.head()

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147

In [13]:
df_tmp = df[["user", "item", "cnt"]].copy()

In [17]:
df_tmp.to_csv('name.train.ratings', index=True, sep="\t", header=False)

In [21]:
df_tmp = df[["user", "item", "cnt"]].copy()
df_tmp['cnt'] = df_tmp['cnt'].apply(lambda x: 1 if x > 0 else 0)
df_tmp.to_csv('name.train.ratings', index=True, sep="\t", header=False)

In [19]:
test_size = 0.2
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_tmp, test_size=test_size, random_state=42)

TypeError: PreProcessData.__init__() missing 1 required positional argument: 'path'

In [24]:
import os 
import errno
check_point_path = "test/pre"
try:
  os.makedirs(check_point_path)
except OSError as e:
  if e.errno != errno.EEXIST:
    raise RuntimeError(
                "Unable to create checkpoint directory:", check_point_path
            )

In [5]:
meta_app = pd.read_csv(datapath +'meta.csv', sep="\t")
df_meta = df.merge(meta_app, on='item')
df_meta.columns

Index(['user', 'item', 'cnt', 'daytime', 'weekday', 'isweekend', 'homework',
       'cost', 'weather', 'country', 'city', 'package', 'category',
       'downloads', 'developer', 'icon', 'language', 'description', 'name',
       'price', 'rating', 'short desc'],
      dtype='object')

In [6]:
df_meta.head(2)

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,...,category,downloads,developer,icon,language,description,name,price,rating,short desc
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,...,Productivity,"1,000,000 - 5,000,000",Any.DO,http://d2lh3rxs7crswz.cloudfront.net/com.anydo...,en,"Meet Any.DO, the best way to-do To-do's on And...",Any.DO To-do & Tasks List,Free,4.5,Any.DO helps you remember everything you have ...
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,...,News & Magazines,"1,000,000 - 5,000,000",Yahoo! Inc.,http://d2lh3rxs7crswz.cloudfront.net/com.yahoo...,en,"With Yahoo! for Android, you’ll stay connected...",Yahoo!,Free,4.2,"With Yahoo! for Android, you’ll stay connected..."

In [9]:
import pandas as pd 
from typing import Tuple
from pandas import DataFrame
from sklearn.model_selection import train_test_split


class PreProcessData:
    def __init__(self, path, foldername):
        self.path = path
        self.dataframe = self._load_data(path)

    def _load_data(self, path):
        return pd.read_csv(self.path, sep="\t")

    def _split_traintest(
        self, data: DataFrame, test_size: float
    ) -> Tuple[DataFrame, DataFrame]:
        """
        Funtion that splits the dataser into train/test with a specific test size and a fixed seed for repr.

        Args:
          - data: raw dataframe with all user-item interactions
          - test_size: float indicating the % of split of the data
        """
        train, test = train_test_split(data, test_size=test_size, random_state=42)
        return train, test
    
    def _binarize_data(data:DataFrame, column_to_binarize:str=None):
        return

In [12]:
dt = PreProcessData(datapath + 'frappe.csv')

In [13]:
dt.dataframe

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147
...,...,...,...,...,...,...,...,...,...,...,...
96198,110,0,5,evening,sunday,weekend,unknown,free,sunny,United States,0
96199,37,16,101,sunset,sunday,weekend,unknown,free,cloudy,Canada,128
96200,181,33,243,afternoon,sunday,weekend,unknown,free,cloudy,Israel,454
96201,451,752,1,evening,sunday,weekend,unknown,free,sunny,United States,0
96202,364,380,3,evening,thursday,workday,unknown,free,cloudy,United States,0