In [1]:
import pandas as pd
import sys 
import numpy as np

sys.path.append('/home/alexabades/recsys')
from src.data.Contextual import PreProcessDataNCFContextual
datapath = "../data/raw/frappe/"
df_frappe = PreProcessDataNCFContextual(datapath)
# df_frappe.save_data("frappeCtxA")

In [12]:
df_frappe.columns

['user',
 'item',
 'rating',
 'daytime',
 'weather',
 'isweekend',
 'homework',
 'cnt']

In [16]:
cols = ['cnt', 'daytime_afternoon', 'daytime_evening',
       'daytime_morning', 'daytime_night', 'daytime_noon', 'daytime_sunrise',
       'daytime_sunset', 'weather_cloudy', 'weather_drizzle', 'weather_foggy',
       'weather_rainy', 'weather_snowy', 'weather_stormy', 'weather_sunny',
       'weather_unknown', 'isweekend_weekend', 'isweekend_workday',
       'homework_home', 'homework_unknown', 'homework_work']
print(cols)

['cnt', 'daytime_afternoon', 'daytime_evening', 'daytime_morning', 'daytime_night', 'daytime_noon', 'daytime_sunrise', 'daytime_sunset', 'weather_cloudy', 'weather_drizzle', 'weather_foggy', 'weather_rainy', 'weather_snowy', 'weather_stormy', 'weather_sunny', 'weather_unknown', 'isweekend_weekend', 'isweekend_workday', 'homework_home', 'homework_unknown', 'homework_work']

In [5]:
len(df_frappe.data.user.unique()), df_frappe.data.user.max()

(651, 650)

In [8]:
len(df_frappe.data.item.unique()), df_frappe.data.item.max()

(1127, 1126)

In [10]:
len(df_frappe.train_ratings.item.unique()), df_frappe.train_ratings.item.unique().max()

(1127, 1126)

In [11]:
df_frappe.save_data("frappeCtxA")

/home/alexabades/recsys/src/data/processed/frappeCtxA/frappeCtxA

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Example DataFrame
df = pd.DataFrame({
    'column1': [1, 2, 3, 4, 5],
    'column2': [10, 20, 30, 40, 50],
    'column3': [100, 200, 300, 400, 500]
})

# Columns to normalize
columns = ['column1', 'column2']

# Initializing the MinMaxScaler
scaler = MinMaxScaler()

# Applying the scaler to the selected columns
df[columns] = scaler.fit_transform(df[columns])

print(df)

   column1  column2  column3
0     0.00     0.00      100
1     0.25     0.25      200
2     0.50     0.50      300
3     0.75     0.75      400
4     1.00     1.00      500

I have some troubles achieveing a train test split for my dataset in recomendation sistems. 
If I am dealing with sparse data, where I have some items and users with low interaction. Do we have to ensure in the train test split that at least 1 item/user appears at least once in the train and test set? 
This problem may occur also with datasets with more interactions, but in order to ilustarte in a simple example, I'll create a small dataset: 

Example:

df = pd.DataFrame({
    'userID': [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5],
    'itemID': [0, 1, 0, 2, 3, 4, 1, 5, 2, 4, 3, 5],
})

If we check the num of iteraction by user and the times an item has been interacted: 

num_interactions_by_user = df.groupby('userID').count()
num_interaction_by_item = df.groupby('itemID').count()

num of iteraction by user
userID     count       
0            2
1            2
2            2
3            2
4            2
5            2

num times an item has been interacted
itemID     count   
0            2 <br>
1            2
2            2
3            2
4            2
5            2

We can see that some of our samples have only 2. If we wish to train test split kind of randomly we can do something like:
for i in df.userID.unique():
   test_idx = df.userID.random(1)

The problem of this approach is that we may end up with some items only in the test set, which is not obtimal. For example 

Being the index of the dataframe idx = list(df.index) we could en up with:
idx_test = [0, 2, 4, 6, 8, 10]
idx_train = [1, 3, 5, 7, 9, 11]

We can see that in this case the test set will end up like:

    userID  itemID
0        0       0
2        1       0
4        2       3
6        3       1
8        4       2
10       5       3

And the train set like:

    userID  itemID
1        0       1
3        1       2
5        2       4
7        3       5
9        4       4
11       5       5

And wheras we might have been able to add at least one user in each set we fail to add at least one item both sets.

df[np.isin(df.index, idx_test)]['itemID'].unique() = [0 3 1 2]
df[np.isin(df.index, idx_train)]['itemID'].unique() = [1 2 4 5]

We fail to add itemIDs 0 and 3 in the train set and we fail to add the itemIDs 4 and 5 in the test set. I believe that missing some items in the test set won't supose that much trouble. But if we miss one items in the train set we could face the cold start problem for that specific Item, as the model would not have seen this item in the training process.

In [2]:
import pandas as pd
import numpy as np

# Define the DataFrame
df = pd.DataFrame({
    'userID': [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5],
    'itemID': [0, 1, 0, 2, 3, 4, 1, 5, 2, 4, 3, 5],
})

# Create empty lists to hold the indices for the train and test sets
idx_train = []
idx_test = []

# Loop through each user to ensure they appear in both sets
for user_id in df['userID'].unique():
    user_interactions = df[df['userID'] == user_id]
    
    # Ensure at least one interaction per user goes into each set
    train_interaction = user_interactions.sample(n=1, random_state=42)  # Sample one interaction for training
    test_interaction = user_interactions.drop(train_interaction.index)  # Use the other for testing
    
    # Append indices to the appropriate lists
    idx_train.extend(train_interaction.index.tolist())
    idx_test.extend(test_interaction.index.tolist())

# Verify that each item appears in both sets
train_items = df.loc[idx_train, 'itemID'].unique()
test_items = df.loc[idx_test, 'itemID'].unique()

set(train_items), set(test_items), set(train_items) | set(test_items), set(train_items) & set(test_items)

({1, 2, 4, 5}, {0, 1, 2, 3}, {0, 1, 2, 3, 4, 5}, {1, 2})

In [3]:
def get_element_idx_given_min_interactions(data, filter_column, ratings_column, min_interactions):
    data_groupedby_item_interaction = data.groupby(filter_column)[
        [ratings_column]
    ].count()
    iDs_low_interaction = data_groupedby_item_interaction[
        data_groupedby_item_interaction[ratings_column] <= min_interactions
    ].index

    idx_few_interactions = np.isin(data[filter_column], iDs_low_interaction)
    return idx_few_interactions

In [4]:
def iterative_cleaning(data, user_column, item_column, ratings_column, min_interactions):
  clean = False 
  cnt = 0 
  data_iter = data.copy()
  while not clean:
    item_indx = get_element_idx_given_min_interactions(data_iter, item_column, ratings_column, min_interactions)
    data_clean_items = data_iter[~item_indx]
    user_indx = get_element_idx_given_min_interactions(data_clean_items, user_column, ratings_column, min_interactions)
    data_clean_items_users = data_clean_items[~user_indx]
    data_iter = data_clean_items_users.copy()
    numMinInteractionsItems = data_clean_items_users.groupby(item_column)[ratings_column].count().min()
    numMinInteractionsUsres = data_clean_items_users.groupby(user_column)[ratings_column].count().min()
    # clean = True
    if numMinInteractionsItems > min_interactions and numMinInteractionsUsres > min_interactions:
      clean = True
    if cnt == 10:
      print(f"Iteration {cnt}")
    cnt += 1
  return data_clean_items_users

## Non continuous sequence
User & Item IDs are non continuous sequence because some users or items have been removed during data cleaning. <br>
ID Mapping: To deal with the non-continuous nature of user IDs, create a mapping between the original user IDs and a new set of indices that are continuous. For instance, you could map your 951 user IDs to indices ranging from 0 to 950. This mapping would be used when feeding data into the model and when interpreting the model's output.

In [34]:
train_data = df_frappe.train_ratings.copy()
test_data = df_frappe.test_ratings.copy()
unique_user_id = train_data['user'].unique()
unique_item_id = train_data['item'].unique()
is_user_id_sequence_continuous = (max(unique_user_id) - min(unique_user_id) + 1) == len(unique_user_id)
is_item_id_sequence_continuous = (max(train_data['item'].unique()) - min(train_data['item'].unique()) + 1) == len(train_data['item'].unique())
print(is_user_id_sequence_continuous)

def _map_elemetIDs(data, column_to_map:str):
    unique_element_ids = sorted(data[column_to_map].unique())
    element_id_to_index = {element_id: index for index, element_id in enumerate(unique_element_ids)}
    return element_id_to_index

user_id_to_index = _map_elemetIDs(train_data, 'user')

# len(item_id_to_index.keys()), max(item_id_to_index.keys())
# train_data['user'] = train_data['user'].apply(lambda x: item_id_to_index[x])
# is_user_id_sequence_continuous = (max(train_data['user'].unique()) - min(train_data['user'].unique()) + 1) == len(train_data['user'].unique())
# print(is_user_id_sequence_continuous)

False

In [35]:
train_data['user'].map(user_id_to_index)

0          0
1          1
2          2
3          3
4          4
        ...
96198    110
96199     37
96200    181
96201    449
96202    362
Name: user, Length: 89099, dtype: int64

In [28]:
len(train_data['user'].unique())

869

In [26]:
isItemIDSequenceContinuous = max(train_data['user'].unique()) + 1 == len(train_data['user'].unique())
isItemIDSequenceContinuous

True

In [21]:
len(train_data['user'].unique()), train_data['user'].unique().max()

(869, 868)

In [ ]:

index_to_item_id = {index: item_id for item_id, index in item_id_to_index.items()}


unique_user_ids = sorted(train_data['item'].unique())
user_id_to_index = {user_id: index for index, user_id in enumerate(unique_user_ids)}
index_to_user_id = {index: user_id for user_id, index in user_id_to_index.items()}

In [4]:
item_id_to_index

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37,
 38: 38,
 39: 39,
 40: 40,
 41: 41,
 42: 42,
 43: 43,
 44: 44,
 45: 45,
 46: 46,
 47: 47,
 48: 48,
 49: 49,
 50: 50,
 51: 51,
 52: 52,
 53: 53,
 54: 54,
 55: 55,
 56: 56,
 57: 57,
 58: 58,
 59: 59,
 60: 60,
 61: 61,
 62: 62,
 63: 63,
 64: 64,
 65: 65,
 66: 66,
 67: 67,
 68: 68,
 69: 69,
 70: 70,
 71: 71,
 72: 72,
 73: 73,
 74: 74,
 75: 75,
 76: 76,
 77: 77,
 78: 78,
 79: 79,
 80: 80,
 81: 81,
 82: 82,
 83: 83,
 84: 84,
 85: 85,
 86: 86,
 87: 87,
 88: 88,
 89: 89,
 90: 90,
 91: 91,
 92: 92,
 93: 93,
 94: 94,
 95: 95,
 96: 96,
 97: 97,
 98: 98,
 99: 99,
 100: 100,
 101: 101,
 102: 102,
 103: 103,
 104: 104,
 105: 105,
 106: 106,
 107: 107,
 108: 108,
 109: 109,
 110: 110,
 111: 111,
 112: 112,
 113: 113,
 114: 114,
 115: 115,
 116: 116,
 117: 117,
 118: 118,
 119: 119,
 120: 120,
 121: 121,
 122: 122,
 123: 123,
 124: 124,
 125: 125,
 126: 126,
 127: 127,
 128: 128,
 129: 129,
 130: 130,
 131: 131,
 132: 132,
 133: 133,
 134: 134,
 135: 135,
 136: 136,
 137: 137,
 138: 138,
 139: 139,
 140: 140,
 141: 141,
 142: 142,
 143: 143,
 144: 144,
 145: 145,
 146: 146,
 147: 147,
 148: 148,
 149: 149,
 150: 150,
 151: 151,
 152: 152,
 153: 153,
 154: 154,
 155: 155,
 156: 156,
 157: 157,
 158: 158,
 159: 159,
 160: 160,
 161: 161,
 162: 162,
 163: 163,
 164: 164,
 165: 165,
 166: 166,
 167: 167,
 168: 168,
 169: 169,
 170: 170,
 171: 171,
 172: 172,
 173: 173,
 174: 174,
 175: 175,
 176: 176,
 177: 177,
 178: 178,
 179: 179,
 180: 180,
 181: 181,
 182: 182,
 183: 183,
 184: 184,
 185: 185,
 186: 186,
 187: 187,
 188: 188,
 189: 189,
 190: 190,
 191: 191,
 192: 192,
 193: 193,
 194: 194,
 195: 195,
 196: 196,
 197: 197,
 198: 198,
 199: 199,
 200: 200,
 201: 201,
 202: 202,
 203: 203,
 204: 204,
 205: 205,
 206: 206,
 207: 207,
 208: 208,
 209: 209,
 210: 210,
 211: 211,
 212: 212,
 213: 213,
 214: 214,
 215: 215,
 216: 216,
 217: 217,
 218: 218,
 219: 219,
 220: 220,
 221: 221,
 222: 222,
 223: 223,
 224: 224,
 225: 225,
 226: 226,
 227: 227,
 228: 228,
 229: 229,
 230: 230,
 231: 231,
 232: 232,
 233: 233,
 234: 234,
 235: 235,
 236: 236,
 237: 237,
 238: 238,
 239: 239,
 240: 240,
 241: 241,
 242: 242,
 243: 243,
 244: 244,
 245: 245,
 246: 246,
 247: 247,
 248: 248,
 249: 249,
 250: 250,
 251: 251,
 252: 252,
 253: 253,
 254: 254,
 255: 255,
 256: 256,
 257: 257,
 258: 258,
 259: 259,
 260: 260,
 261: 261,
 262: 262,
 263: 263,
 264: 264,
 265: 265,
 266: 266,
 267: 267,
 268: 268,
 269: 269,
 270: 270,
 271: 271,
 272: 272,
 273: 273,
 274: 274,
 275: 275,
 276: 276,
 277: 277,
 278: 278,
 279: 279,
 280: 280,
 281: 281,
 282: 282,
 283: 283,
 284: 284,
 286: 285,
 287: 286,
 288: 287,
 289: 288,
 290: 289,
 291: 290,
 292: 291,
 293: 292,
 294: 293,
 295: 294,
 296: 295,
 297: 296,
 298: 297,
 299: 298,
 300: 299,
 301: 300,
 302: 301,
 303: 302,
 304: 303,
 305: 304,
 306: 305,
 307: 306,
 308: 307,
 309: 308,
 310: 309,
 311: 310,
 312: 311,
 313: 312,
 314: 313,
 315: 314,
 316: 315,
 317: 316,
 318: 317,
 319: 318,
 320: 319,
 321: 320,
 322: 321,
 323: 322,
 324: 323,
 325: 324,
 326: 325,
 327: 326,
 328: 327,
 329: 328,
 330: 329,
 331: 330,
 332: 331,
 333: 332,
 334: 333,
 335: 334,
 337: 335,
 338: 336,
 339: 337,
 340: 338,
 341: 339,
 342: 340,
 343: 341,
 344: 342,
 345: 343,
 346: 344,
 347: 345,
 348: 346,
 349: 347,
 350: 348,
 351: 349,
 352: 350,
 353: 351,
 354: 352,
 355: 353,
 356: 354,
 357: 355,
 358: 356,
 359: 357,
 360: 358,
 361: 359,
 362: 360,
 363: 361,
 364: 362,
 365: 363,
 366: 364,
 367: 365,
 368: 366,
 369: 367,
 370: 368,
 371: 369,
 372: 370,
 373: 371,
 374: 372,
 375: 373,
 376: 374,
 377: 375,
 378: 376,
 379: 377,
 380: 378,
 381: 379,
 382: 380,
 383: 381,
 384: 382,
 385: 383,
 386: 384,
 387: 385,
 388: 386,
 389: 387,
 390: 388,
 391: 389,
 392: 390,
 393: 391,
 394: 392,
 395: 393,
 396: 394,
 397: 395,
 398: 396,
 399: 397,
 400: 398,
 401: 399,
 402: 400,
 403: 401,
 404: 402,
 405: 403,
 406: 404,
 407: 405,
 408: 406,
 409: 407,
 410: 408,
 411: 409,
 412: 410,
 413: 411,
 414: 412,
 415: 413,
 416: 414,
 417: 415,
 418: 416,
 419: 417,
 420: 418,
 421: 419,
 422: 420,
 423: 421,
 424: 422,
 425: 423,
 426: 424,
 427: 425,
 428: 426,
 429: 427,
 430: 428,
 431: 429,
 432: 430,
 433: 431,
 434: 432,
 435: 433,
 436: 434,
 437: 435,
 438: 436,
 439: 437,
 440: 438,
 441: 439,
 442: 440,
 443: 441,
 444: 442,
 445: 443,
 446: 444,
 447: 445,
 448: 446,
 449: 447,
 450: 448,
 451: 449,
 452: 450,
 453: 451,
 454: 452,
 457: 453,
 458: 454,
 459: 455,
 460: 456,
 461: 457,
 462: 458,
 463: 459,
 464: 460,
 465: 461,
 466: 462,
 467: 463,
 468: 464,
 469: 465,
 470: 466,
 471: 467,
 472: 468,
 473: 469,
 474: 470,
 475: 471,
 476: 472,
 477: 473,
 478: 474,
 479: 475,
 480: 476,
 481: 477,
 482: 478,
 483: 479,
 484: 480,
 485: 481,
 486: 482,
 487: 483,
 488: 484,
 489: 485,
 490: 486,
 491: 487,
 492: 488,
 493: 489,
 494: 490,
 495: 491,
 496: 492,
 497: 493,
 498: 494,
 499: 495,
 501: 496,
 502: 497,
 503: 498,
 504: 499,
 505: 500,
 506: 501,
 507: 502,
 508: 503,
 509: 504,
 510: 505,
 511: 506,
 512: 507,
 513: 508,
 514: 509,
 515: 510,
 516: 511,
 518: 512,
 519: 513,
 520: 514,
 521: 515,
 522: 516,
 523: 517,
 524: 518,
 525: 519,
 526: 520,
 527: 521,
 528: 522,
 529: 523,
 530: 524,
 531: 525,
 532: 526,
 533: 527,
 534: 528,
 535: 529,
 536: 530,
 537: 531,
 538: 532,
 539: 533,
 540: 534,
 541: 535,
 543: 536,
 544: 537,
 545: 538,
 546: 539,
 547: 540,
 548: 541,
 549: 542,
 550: 543,
 551: 544,
 552: 545,
 553: 546,
 554: 547,
 555: 548,
 556: 549,
 557: 550,
 558: 551,
 559: 552,
 560: 553,
 561: 554,
 563: 555,
 564: 556,
 565: 557,
 566: 558,
 567: 559,
 568: 560,
 569: 561,
 570: 562,
 571: 563,
 573: 564,
 574: 565,
 575: 566,
 576: 567,
 577: 568,
 578: 569,
 579: 570,
 580: 571,
 581: 572,
 582: 573,
 583: 574,
 584: 575,
 585: 576,
 586: 577,
 587: 578,
 588: 579,
 589: 580,
 590: 581,
 591: 582,
 592: 583,
 593: 584,
 594: 585,
 595: 586,
 596: 587,
 597: 588,
 598: 589,
 599: 590,
 600: 591,
 601: 592,
 602: 593,
 603: 594,
 604: 595,
 605: 596,
 606: 597,
 607: 598,
 608: 599,
 609: 600,
 610: 601,
 611: 602,
 612: 603,
 613: 604,
 614: 605,
 615: 606,
 616: 607,
 617: 608,
 618: 609,
 619: 610,
 620: 611,
 621: 612,
 622: 613,
 623: 614,
 624: 615,
 625: 616,
 626: 617,
 627: 618,
 628: 619,
 629: 620,
 630: 621,
 631: 622,
 633: 623,
 634: 624,
 636: 625,
 637: 626,
 638: 627,
 639: 628,
 640: 629,
 641: 630,
 642: 631,
 644: 632,
 645: 633,
 647: 634,
 648: 635,
 649: 636,
 650: 637,
 651: 638,
 652: 639,
 653: 640,
 654: 641,
 655: 642,
 656: 643,
 658: 644,
 659: 645,
 660: 646,
 661: 647,
 663: 648,
 664: 649,
 665: 650,
 667: 651,
 668: 652,
 669: 653,
 670: 654,
 671: 655,
 672: 656,
 673: 657,
 674: 658,
 675: 659,
 676: 660,
 677: 661,
 678: 662,
 679: 663,
 680: 664,
 681: 665,
 682: 666,
 683: 667,
 684: 668,
 685: 669,
 686: 670,
 687: 671,
 688: 672,
 689: 673,
 690: 674,
 691: 675,
 692: 676,
 693: 677,
 694: 678,
 695: 679,
 696: 680,
 697: 681,
 698: 682,
 699: 683,
 700: 684,
 701: 685,
 702: 686,
 703: 687,
 705: 688,
 707: 689,
 708: 690,
 709: 691,
 710: 692,
 711: 693,
 712: 694,
 713: 695,
 714: 696,
 715: 697,
 716: 698,
 717: 699,
 718: 700,
 719: 701,
 720: 702,
 721: 703,
 722: 704,
 723: 705,
 724: 706,
 726: 707,
 728: 708,
 729: 709,
 730: 710,
 731: 711,
 732: 712,
 733: 713,
 734: 714,
 735: 715,
 736: 716,
 738: 717,
 740: 718,
 741: 719,
 742: 720,
 743: 721,
 744: 722,
 745: 723,
 746: 724,
 747: 725,
 748: 726,
 749: 727,
 751: 728,
 752: 729,
 753: 730,
 755: 731,
 756: 732,
 757: 733,
 758: 734,
 759: 735,
 760: 736,
 761: 737,
 762: 738,
 763: 739,
 764: 740,
 766: 741,
 767: 742,
 768: 743,
 769: 744,
 770: 745,
 771: 746,
 772: 747,
 773: 748,
 774: 749,
 777: 750,
 778: 751,
 779: 752,
 780: 753,
 781: 754,
 782: 755,
 783: 756,
 784: 757,
 785: 758,
 786: 759,
 788: 760,
 790: 761,
 791: 762,
 792: 763,
 794: 764,
 795: 765,
 796: 766,
 798: 767,
 799: 768,
 800: 769,
 801: 770,
 802: 771,
 803: 772,
 805: 773,
 806: 774,
 807: 775,
 808: 776,
 809: 777,
 810: 778,
 811: 779,
 812: 780,
 813: 781,
 814: 782,
 815: 783,
 817: 784,
 818: 785,
 819: 786,
 820: 787,
 821: 788,
 823: 789,
 825: 790,
 826: 791,
 827: 792,
 828: 793,
 829: 794,
 830: 795,
 831: 796,
 832: 797,
 833: 798,
 834: 799,
 836: 800,
 837: 801,
 838: 802,
 839: 803,
 840: 804,
 841: 805,
 842: 806,
 843: 807,
 844: 808,
 846: 809,
 847: 810,
 848: 811,
 849: 812,
 850: 813,
 852: 814,
 853: 815,
 854: 816,
 857: 817,
 858: 818,
 859: 819,
 860: 820,
 861: 821,
 862: 822,
 863: 823,
 864: 824,
 865: 825,
 866: 826,
 867: 827,
 868: 828,
 869: 829,
 873: 830,
 874: 831,
 875: 832,
 878: 833,
 879: 834,
 880: 835,
 881: 836,
 882: 837,
 884: 838,
 886: 839,
 887: 840,
 888: 841,
 890: 842,
 892: 843,
 896: 844,
 897: 845,
 900: 846,
 901: 847,
 902: 848,
 903: 849,
 905: 850,
 907: 851,
 913: 852,
 915: 853,
 918: 854,
 919: 855,
 920: 856,
 923: 857,
 926: 858,
 927: 859,
 931: 860,
 932: 861,
 936: 862,
 937: 863,
 939: 864,
 945: 865,
 946: 866,
 947: 867,
 949: 868}

## Ensure K items in the train set

In [ ]:
df2 = pd.DataFrame({
    'userID': [0, 0, 0, 0, 0, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5],
    'itemID': [0, 1, 5, 7, 6, 0, 1, 7, 0, 2, 7, 5, 1, 6, 0, 1, 7, 5, 0, 6, 0, 1, 5, 6, 8],
    'rating': [4.1, 1, 5, 4.2, 4.1, 3.8, 1, 3.7, 1.3, 2, 2.7, 5, 1, 2.6, 2, 1.7, 3.7, 5, 2, 4.6, 2.0, 1, 5, 3.6, 3.8],
})
user_column = 'userID'
item_column = 'itemID'
ratings_column = 'rating'
min_interactions = 4

In [ ]:
df2.groupby('userID')['itemID'].count()
df2.groupby('itemID')['userID'].count()

In [11]:
df = pd.DataFrame({
    'userID': [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5],
    'itemID': [0, 1, 0, 2, 3, 4, 1, 5, 2, 4, 3, 5],
})

In [68]:
import random
unique_users_id = df.userID.unique()
test_idx = []
train_idx = []
for user in unique_users_id:
  item_found = False
  items_imteracted_by_user = list(df[df['userID'] == user]['itemID'].values)
  while not item_found:
    selected_item = random.choice(items_imteracted_by_user)  
    items_imteracted_by_user.remove(selected_item)    
    test_sample = df[(df['userID'] == user) & (df['itemID'] == selected_item)]
    train_samples = df[(df['userID'] == user) & (df['itemID'] != selected_item)]
    test_sample_idx = test_sample.index[0]
    train_samples_idx = train_samples.index[0]
    
    if test_sample_idx not in test_idx:
      test_idx.append(test_sample_idx)
      item_found = True
    if not items_imteracted_by_user:
      print('No items remaining')
      break

In [69]:
df_test = df[np.isin(df.index, test_idx)]
df_train = df[~np.isin(df.index, test_idx)]

As we are iterating over the users we are ensuring that the user apears both in the train and the test set.

In [81]:
np.all(np.isin(df_train['userID'].unique(), df['userID'].unique()))

True

The problem comes when we check the items. Ideally the itemIds from train and test would be the same, which would mean that all items appear once in the train and test set. 
Nevertheless, if we are in a situation where an item cannot go to both, we should include it in the train. Therefore, ideally we should obtain something like:

df_train.group

After this, we can check

In [74]:
df_train.groupby('userID').count()

        itemID
userID
0            1
1            1
2            1
3            1
4            1
5            1

In [79]:
np.isin([2, 3, 1], [1, 2, 4]) # if every element from the first array is in the second array

array([ True, False,  True])

In [82]:
unique_itemID_train = df_train['itemID'].unique()
unique_itemID_data = df['itemID'].unique()
np.all(np.isin(unique_itemID_data, unique_itemID_train))

False

In [96]:
items_missing_train = set(unique_itemID_data) - set(unique_itemID_train)
items_missing_train

{0, 4}

In [87]:
K = 2
df_train.groupby('itemID').count() >= K 
df_train.groupby('userID').count() >= K

        userID
itemID
1         True
2         True
3         True
5         True

In [ ]:

np.all(np.isin(df_train['itemID'].unique(), df_test['itemID'].unique()))

In [66]:
df_train['itemID'].unique(), df_test['itemID'].unique()

(array([1, 0, 4, 5, 3]), array([0, 2, 3, 1, 5]))

In [25]:
a = [1, 2, 3, 4]
b = set(a)

In [29]:
import random

a = [1, 2, 3, 4, 5, 6, 7]
selected_item = random.choice(a)  #
a.remove(selected_item)

In [55]:
cnt = 0
found = False
while not found:
  cnt += 1
  if cnt == 4:
    print('count break')
    break

count break

In [97]:
import pandas as pd
import numpy as np

# Define the DataFrame again after reset
df = pd.DataFrame({
    'userID': [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5],
    'itemID': [0, 1, 0, 2, 3, 4, 1, 5, 2, 4, 3, 5],
})

# Setting K value
K = 2

# Step 1: Initial Filtering - Remove users and items with fewer than K+1 interactions
# Count interactions by user and item
user_counts = df.groupby('userID')['itemID'].count()
item_counts = df.groupby('itemID')['userID'].count()

# Filter users and items with at least K+1 interactions
valid_users = user_counts[user_counts >= K+1].index
valid_items = item_counts[item_counts >= K+1].index

# Filter the DataFrame
filtered_df = df[df['userID'].isin(valid_users) & df['itemID'].isin(valid_items)]

# Step 2: Assuming iterative cleaning has been done as part of the initial filtering for simplicity

# Step 3: Allocating interactions to training and test sets
# Initialize train and test indices
train_idx = []
test_idx = []

for user in filtered_df['userID'].unique():
    user_items = filtered_df[filtered_df['userID'] == user]['itemID'].unique()
    
    # Randomly select an item for the test set that has not been selected before
    test_item_selected = False
    while not test_item_selected and user_items.size > 0:
        test_item = np.random.choice(user_items)
        test_item_instances = filtered_df[(filtered_df['userID'] == user) & (filtered_df['itemID'] == test_item)]
        
        # Ensure this item has enough interactions to be split between train and test
        if len(test_item_instances) > 1 or (test_item in valid_items and item_counts[test_item] > K):
            test_idx.append(test_item_instances.index[0])  # Take one instance for the test set
            test_item_selected = True
        
        # Update user_items to prevent re-selection of the test item
        user_items = user_items[user_items != test_item]

    # Remaining interactions go to the training set
    remaining_indices = filtered_df[(filtered_df['userID'] == user) & (~filtered_df['itemID'].isin([test_item]))].index
    train_idx.extend(remaining_indices.tolist())

# Convert indices to DataFrame subsets
df_train = df.loc[train_idx]
df_test = df.loc[test_idx]

# Verification
unique_itemID_train = df_train['itemID'].unique()
unique_itemID_test = df_test['itemID'].unique()
unique_userID_train = df_train['userID'].unique()
unique_userID_test = df_test['userID'].unique()

# Check if all items and users from original filtered dataset appear in both sets
all_items_in_both_sets = np.all(np.isin(unique_itemID_train, unique_itemID_test)) and np.all(np.isin(unique_itemID_test, unique_itemID_train))
all_users_in_both_sets = np.all(np.isin(unique_userID_train, unique_userID_test)) and np.all(np.isin(unique_userID_test, unique_userID_train))

# Check if the train set satisfies the K interactions constraint
train_item_counts_satisfy_K = np.all(df_train.groupby('itemID')['userID'].count() >= K)
train_user_counts_satisfy_K = np.all(df_train.groupby('userID')['itemID'].count() >= K)

all_items_in_both_sets, all_users_in_both_sets, train_item_counts_satisfy_K, train_user_counts_satisfy_K

(True, True, True, True)