In [1]:
import pandas as pd

# Load preprocessed Data
import sys

sys.path.append("/home/alexabades/recsys")
from src.data.cncf_preprocess import PreProcessDataNCFContextual

# CONTEXTUAL COLLABORATIVE FILTERING

In [4]:
path = "../../../data/raw/YELP/v1/"
data_file = "yelp.csv"
user_column = "userId"
item_column = "businessId"
ratings_column = "stars"
ctx_categorical_columns = ["isweekend", "season", "isHoliday", "daytime"]
ctx_numerical_columns = [
    "latitude",
    "longitude",
    "num_firends",
    "num_elite",
    "seniority",
]
columns_to_transform = {"cyclical": ["week_number"]}
min_interactions = 5

In [5]:
data = PreProcessDataNCFContextual(
    path=path,
    data_file=data_file,
    user_column=user_column,
    item_column=item_column,
    rating_column=ratings_column,
    ctx_categorical_columns=ctx_categorical_columns,
    ctx_numerical_columns=ctx_numerical_columns,
    columns_to_transform=columns_to_transform,
    min_interactions=min_interactions,
)

Processed columns: userId, businessId, stars, isweekend, season, isHoliday, daytime, latitude, longitude, num_firends, num_elite, seniority, week_number
cyclical transformation performed on ['week_number']

/home/alexabades/recsys/src/data/cncf_preprocess.py:171: UserWarning:
No Columns specified to normalize: Normalizing all Numerical Columns
  warnings.warn(

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
K-core cleaning performed with k: 5

In [6]:
data.save_data('yelp5Context')

Saved in:  /home/alexabades/recsys/src/data/processed/yelp5Context/yelp5Context

:

# NEURAL COLABORATIVE FILTERING

In [6]:
path = "~/recsys/data/raw/YELP/"
data_file = "yelp.csv"
user_column = "userId"
item_column = "businessId"
rating_column = "stars"
min_interactions = 5

In [7]:
data = PreProcessDataNCFContextual(
    path=path,
    data_file=data_file,
    user_column=user_column,
    item_column=item_column,
    rating_column=rating_column,
    min_interactions=min_interactions,
)

/home/alexabades/recsys/src/data/cncf_preprocess.py:174: UserWarning: No Numerical columns have been paseed
  warnings.warn("No Numerical columns have been paseed")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
K-core cleaning performed with k: 5

In [8]:
data.save_data('yelp5')

Saved in:  /home/alexabades/recsys/src/data/processed/yelp5/yelp5

In [5]:
import pandas as pd 
df = pd.read_csv('../../../data/processed/YELP/CNCF/yelp_2.1_ctx/yelp_2.1_ctx.test.rating', sep='\t', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,33,33,1.0,0.474492,0.958030,0.173077,0.004802,0.117647,0.666667,0.926690,...,0,1,1,0,0,0,0,1,0,0
1,59,59,1.0,0.178664,0.198466,0.557692,0.002334,0.000000,0.611111,-0.403123,...,1,0,1,0,0,1,0,0,0,0
2,86,85,1.0,0.017925,0.797253,0.769231,0.000200,0.000000,0.388889,-0.989040,...,0,0,1,0,0,0,0,1,0,0
3,93,91,1.0,0.458274,0.007137,0.884615,0.001000,0.000000,0.722222,-0.652822,...,0,0,1,0,1,0,0,0,0,0
4,99,97,1.0,0.018180,0.798740,0.153846,0.000000,0.000000,0.444444,0.875735,...,0,1,1,0,0,0,0,1,0,0

In [8]:
import pandas as pd 
df = pd.read_csv('../../../data/processed/YELP/CNCF/yelp5Context/yelp5Context.test.rating', sep='\t', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,10,10,1.0,0.422381,0.635200,0.003334,0.294118,0.888889,-0.964636,0.263587,...,0,0,1,0,0,1,0,0,0,0
1,37,37,1.0,0.474454,0.958539,0.000000,0.000000,0.388889,-0.652822,0.757511,...,0,0,1,0,0,1,0,0,0,0
2,70,70,1.0,0.329182,0.710328,0.000067,0.000000,0.277778,0.348202,0.937420,...,0,1,1,0,0,1,0,0,0,0
3,77,77,1.0,0.091513,0.640240,0.000000,0.000000,0.500000,0.875735,0.482792,...,0,1,1,0,0,0,0,1,0,0
4,82,82,1.0,0.469833,0.959632,0.007936,0.000000,0.555556,-0.508531,-0.861044,...,1,0,1,0,0,0,0,1,0,0

## PreProcess 2

### 5 - Core

In [1]:
import sys

import pandas as pd

sys.path.append("/home/alexabades/recsys")
from src.data.cncf_preprocess import PreProcessDataNCFContextual

In [2]:
path = "../../../data/raw/YELP/"
data_file = "yelp_data_V2.csv"
user_column = "userId"
item_column = "businessId"
ratings_column = "stars"
ctx_categorical_columns = ["season"]
ctx_numerical_columns = [
    "latitude",
    "longitude",
    "seniority",
    # "week_number",
    # "hour",
]
columns_to_transform = {
    "cyclical": ["week_number", "hour"],
    "binary": ["isweekend", "isHoliday"],
}
min_interactions = 5

In [3]:
data = PreProcessDataNCFContextual(
    path=path,
    data_file=data_file,
    user_column=user_column,
    item_column=item_column,
    rating_column=ratings_column,
    ctx_categorical_columns=ctx_categorical_columns,
    ctx_numerical_columns=ctx_numerical_columns,
    columns_to_transform=columns_to_transform,
    min_interactions=min_interactions,
)

Processed columns: userId, businessId, stars, season, latitude, longitude, seniority, week_number, hour, isweekend, isHoliday
cyclical transformation performed on ['week_number', 'hour']
binary transformation performed on ['isweekend', 'isHoliday']

/home/alexabades/recsys/src/data/cncf_preprocess.py:175: UserWarning:
No Columns specified to normalize: Normalizing all Numerical Columns
  warnings.warn(

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
K-core cleaning performed with k: 5

In [4]:
data.save_data('yelp5Context')

Saved in:  /home/alexabades/recsys/src/data/processed/yelp5Context/yelp5Context